<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yumi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SPEAKER" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission android:name="android.permission.NETWORK_ALLADRESSES" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".watchVideo"></activity>
        <activity
            android:name=".AddTeacherPopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".StudentQuestionDetailActivity" />
        <activity android:name=".StudentQuestionlist" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChattingActivity" />
        <activity android:name=".Student_timeselect" />
        <activity android:name=".Codematching_S" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Privateinformation2" />
        <activity android:name=".Mail_verify" />
        <activity android:name=".Teachersignup" />
        <activity android:name=".Studentsignup" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".uploadq" />
        <activity android:name=".TutorQuestionDetailActivity" />
        <activity android:name=".boardTutor" />
        <activity android:name=".getTutorVideo" />
        <activity android:name=".tutorManageStudent" />
        <activity android:name=".tutorMyPage" />
        <activity android:name=".tutorSelect" />
        <activity android:name=".tutorPreferences" />
        <activity android:name=".tutorMngBooking" />
        <activity android:name=".studentcompelete_question" />
        <activity android:name=".TutorQuestionlist" />
        <activity android:name=".stdMyPage" />
        <activity android:name=".stdMngBooking" />
        <activity android:name=".stdManageTT" />
        <activity android:name=".MyVideoList" />
        <activity android:name=".Cons" />
        <activity android:name=".stdSelect" />
        <activity android:name=".stdPreferences" />
        <activity android:name=".stdPrfInform" />
        <activity android:name=".changePassWord" />
        <activity android:name=".ConnectActivity" />
        <activity android:name=".CallActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.yumi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>